
  
.gallery-container {
    /* width: 100%; */
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px;  */
    position: relative;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 10px 20px 10px;
  }
  
  .photo-item {
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .photo-item:hover {
    transform: scale(1.1);
  }
  
  .photo-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px; 
  }
  
  .photo-uploader-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .photo-uploader__cont {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .photo-uploader-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .photo-uploader-container button {
    background-color: #d9abe2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .photo-uploader-container button:hover {
   opacity: 0.7;
  }
  

  .user-icon-container {
    top: 20px; /* Ajusta la posición vertical según sea necesario */
    right: 20px; /* Ajusta la posición horizontal según sea necesario */
    margin-left: auto;
  }
  
  .user-icon {
    width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
    border-radius: 50%; /* Hace que la imagen tenga forma de círculo */
    border: 2px solid #fff; /* Ajusta el grosor y color del borde según sea necesario */
  }
  